.blog {
    padding: 64px 160px;
}

.blogPostGroup {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 12px;
    row-gap: 12px;
}

.blogPost {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid var(--color-light);
}

.blogPostImagePlaceholder {
    background: center / contain no-repeat url('../../../../static/img/D7\ security\ logo.svg');
    height: 200px;
    margin: 1rem 0;
}

.blogPostDescription {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid var(--color-light);
    height: 100%;
    justify-content: space-between;
}

.blogPostDescriptionTitle {
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .blog {
        padding: 1rem;
    }

    .blogPostGroup {
        grid-template-columns: 1fr;
    }
    .blogPostImagePlaceholder {
        height: 128px;
    }
    .blogPostDescription {
        padding: 8px;
    }
}
