/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background: var(--primary-blue);
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.whiteBlock {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr / 1fr;
  column-gap: 12px;
  background-color: var(--color-white);
  padding: 64px 160px;
}

.imgPlaceholder {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background: center / contain no-repeat url('../../static/img/D7\ security\ logo.svg');
}

.lightBlock {
  background-color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}

.lightBgBtnGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttonsLeft {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 720px) {
  .whiteBlock {
    padding: 1rem;
    grid-template-columns: 1fr;
  }

  .lightBlock {
    padding: 1rem;
  }

  .imgPlaceholder {
    display: none;
  }

  .buttonsLeft {
    justify-content: center;
  }

  .heroBanner {
    padding: 2rem;
  }
}
