.communicationChannels {
    padding: 64px 160px;
  }
  
  .communicationChannelsCardGroup {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 12px;
  }
  
  .communicationChannelCard {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border: 1px solid #e9e9e9;
    padding: 20px;
    border-radius: 8px;
  }
  
  @media only screen and (max-width: 768px) {
    .communicationChannels {
      padding: 1rem;
    }
    .communicationChannelsCardGroup {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 24px;
    }
    .communicationChannelCard {
      grid-column: 1;
    }
  }