/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-gray-900: #000000;
  --ifm-color-primary: #256A44;
  --ifm-color-primary-dark: #1C5033;
  --ifm-color-primary-darker: #17432B;
  --ifm-color-primary-darkest: #0E2819;
  --ifm-color-primary-light: #3B7957;
  --ifm-color-primary-lighter: #518869;
  --ifm-color-primary-lightest: #66977C;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-footer-background-color: #05324F;
  --ifm-footer-title-color: #FFFFFF;
  --ifm-link-color: #095F97;
  --ifm-link-color-hover: #042B44;
  --primary-blue: #074771;
  --primary-blue-dark: #05324F;
  --color-white: #FFFFFF;
  --color-grey: #E3E3E3;
  --color-dark: #02121C;
  --color-light: #D2D8DE;
  --footer-link-color: #F2FBFF;
  --alert-bg: #DCF2FF;
  --ifm-font-family-base: "Ubuntu";
  --ifm-heading-font-family: "Ubuntu";
  --ifm-font-family-monospace: "Ubuntu";
  --ifm-navbar-link-hover-color: var(--ifm-link-color-hover);
  --ifm-hover-overlay: #F1FAFF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-footer-background-color: #074771;
}

.row {
  margin: unset;
}

.col {
  padding: unset;
}

.centered {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.button-custom {
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
}

.button-custom:hover {
  cursor: pointer;
}

.filled-button {
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 10px 18px;

  &:hover {
    background-color: var(--color-grey);
  }
}

.filled-button-primary {
  background-color: var(--primary-blue);
  color: var(--color-white);
  border: none;
  padding: 10px 18px;
  border: 2px solid transparent;
}

.filled-button-primary:hover {
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}

.outline-button {
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid var(--color-white);
}

.outline-button:hover {
  color: var(--color-dark);
  background-color: var(--color-white);
  text-decoration: none;
}

.outline-button-primary {
  color: var(--primary-blue);
  background-color: transparent;
  border: 2px solid var(--primary-blue);
  padding: 9px 16px;
}

.outline-button-primary:hover {
  text-decoration: none;
  background-color: var(--primary-blue);
  color: var(--color-white);
}

.filled-button:hover {
  text-decoration: none;
}

.alert-custom {
  display: flex;
  align-items: center;
  column-gap: 14px;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}

.alert-primary {
  background-color: var(--alert-bg);
}

@media only screen and (max-width: 768px) {
  .alert-custom {
    height: 96px;
  }
}

.mt-16 {
  margin-top: 16px;
}

.copyright {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid var(--color-light);
}

.textCenter {
  text-align: center;
}
