.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-white);
  min-height: 338px;
  background: var(--primary-blue-dark);
  padding: 64px 160px 0 160px;
}

.footerLinkGroups {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 102px;
}

.footerLinkGroup {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.footerLinkGroupHeader {
  font-family: Ubuntu;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.footerLink {
  all: unset;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
  opacity: 0.8;
  color: var(--footer-link-color);
}

.footerLink:hover {
  opacity: 1;
  color: var(--color-white);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .footerLinks {
    grid-template-columns: 1/2fr;
  }

  .footerLinkGroups {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }

  .footerLinkGroup {
    grid-column: 1/2 fr;
  }
}
